b.weather-forecast {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between each row */
  }
  
  .weather-forecast-day {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .weather-forecast-date,
  .weather-forecast-icon,
  .weather-forecast-temperatures {
    display: block;
    text-align: center;
  }
  
  .weather-forecast-temperatures {
    display: flex;
    flex-direction: column;
  }
  