.weather-forecast {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    gap: 09px; /* Adjust spacing between forecast items */
  }
  
  .weather-forecast-day {
    text-align: center;
  }
  
  .weather-forecast-icon {
    font-size: 1.2em; /* Make the icon larger if needed */
  }
  
  .weather-forecast-temperatures {
    display: flex;
    justify-content: center;
    flex-direction: horizontal;
  }
.weather-forecast-icon img {
  width: 40px;                    /* Customize the icon size */
  height: 40px;
}
  .weather-forecast-temperature {
    font-size: 1.2em;
  }
  